<html lang="En">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title> Form </title>
</head>
<body  class="bg-light" >
<div class="container">
<header class="row bg-primary">
    <div class="col-sm-8 offset-3">
        <h3>Predict the Readmission of Diabetics patients</h3>
    </div>
</header>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8 offset-4">
    <h3>Readmission prediction form</h3>
    <div action="/result" method="POST">
    </div>
        </div>
    </div>
    <form action="/result" method="POST">
        <div class="row">
        <div class="col-sm-2">
       <div class="form-group">
           <label for="number_inpatient">Number of inpatient visits</label>
            <input   class="form-control" type="number" id="number_inpatient" name="number_inpatient">
            <br>
       </div>
        <div class="form-group">
            <label for="num_medications">Number of medications: </label>
            <input class="form-control" type="number" id="num_medications" name="num_medications">
            <br>
        </div>
        <div class="form-group">
            <label for="age">age</label>
            <select class="form-control" id="age" name="age">
              <option value="0">0-10</option>
              <option value="1">10-20</option>
              <option value="2">20-30</option>
              <option value="3">30-40</option>
              <option value="4">40-50</option>
              <option value="5">50-60</option>
              <option value="6">60-70</option>
              <option value="7">70-80</option>
              <option value="8">80-90</option>
              <option value="9">90-100</option>
            </select>
            <br>
        </div>
        <div class="form-group">
             <label for="num_lab_procedures">number of Laboratory Procedures</label>
            <input class="form-control" type="number" id="num_lab_procedures" name="num_lab_procedures">
            <br>
        </div>
        <div class="form-group">
            <label for="acarbose"> is the patient given acarbose </label>
    <select class="form-control" id="acarbose" name="acarbose">
         <option value="0">No</option>
         <option value="1">Yes</option>
    </select>
            <br>
        </div>
        <div class="form-group">
            <label for="glyburide-metformin"> is the patient given glyburide-metformin </label>
    <select class="form-control"  id="glyburide-metformin" name="glyburide-metformin">
         <option value="0">No</option>
         <option value="1">Yes</option>
    </select>
            <br>
        </div>
            <div class="form-group">
            <label for="diag_2">Second diagnosis</label>
            <select  class="form-control" id="diag_2" name="diag_2">
              <option value="0">Circulatory</option>
              <option value="1">Respiratory</option>
              <option value="2">Digestive</option>
              <option value="3">Diabetes</option>
              <option value="4">Injury</option>
              <option value="5">Musculoskeletal</option>
                <option value="5">Genitourinary</option>
                <option value="5">Neoplasms</option>
                <option value="5">NAN</option>
                <option value="5">Other</option>
    </select>
            <br>
        </div>
        </div>
            <div class="col-sm-2 offset-1">
        <div class="form-group">
            <label for="diabetesMed_0">is the patient given diabetes medication</label>
    <select class="form-control" id="diabetesMed_0" name="diabetesMed_0">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>
            <br>
        </div>
        <div class="form-group">
            <label for="diag_3">Third diagnosis</label>
            <select  class="form-control" id="diag_3" name="diag_3">
              <option value="0">Circulatory</option>
              <option value="1">Respiratory</option>
              <option value="2">Digestive</option>
              <option value="3">Diabetes</option>
              <option value="4">Injury</option>
              <option value="5">Musculoskeletal</option>
                <option value="5">Genitourinary</option>
                <option value="5">Neoplasms</option>
                <option value="5">NAN</option>
                <option value="5">Other</option>
    </select>
            <br>
        </div>
        <div class="form-group">
            <label for="number_diagnoses">Number of diagnoses</label>
            <input class="form-control" type="number" id="number_diagnoses" name="number_diagnoses">
        </div>
            <br>
                 <div class="form-group">
            <label for="discharge_disposition_id_Home">Is the patient discharged home</label>
    <select  class="form-control" id="discharge_disposition_id_Home" name="discharge_disposition_id_Home">
        <option value="0">No</option>
         <option value="1">Yes</option>
    </select>
            <br>
        </div>

        <div class="form-group">
            <label for="number_emergency">Number of Emergency </label>
            <input class="form-control" type="number" id="number_emergency" name="number_emergency">

        </div>
            <br>
        <div class="form-group">
            <label for="metformin"> is the patient given metformin </label>
            <select  class="form-control" id="metformin" name="metformin">
                 <option value="0">No</option>
                 <option value="1">Yes</option>
            </select>
        </div>
            <br>
            </div>
             <div class="col-sm-2 offset-1">
        <div class="form-group">
            <label for="glimepiride"> is the patient given glimepiride </label>
            <select class="form-control" id="glimepiride" name="glimepiride">
                 <option value="0">No</option>
                 <option value="1">Yes</option>

            </select>
            <br>
        </div>
        <div class="form-group">
            <label for="repaglinide"> is the patient given repaglinide </label>
            <select  class="form-control" id="repaglinide" name="repaglinide">
                 <option value="0">No</option>
                 <option value="1">Yes</option>
            </select>
            <br>
        </div>
        <div class="form-group">
            <label for="rosiglitazone"> is the patient given rosiglitazone </label>
            <select class="form-control" id="rosiglitazone" name="rosiglitazone">
                 <option value="0">No</option>
                 <option value="1">Yes</option>
            </select>
            <br>
        </div>
                 <div class="form-group">
            <label for="time_in_hospital">Time in hospital</label>
            <input class="form-control" type="number" id="time_in_hospital" name="time_in_hospital">
            <br>
        </div>
        <div class="form-group">
             <label for="diag_1">First diagnosis</label>
            <select  class="form-control" id="diag_1" name="diag_1">
              <option value="0">Circulatory</option>
              <option value="1">Respiratory</option>
              <option value="2">Digestive</option>
              <option value="3">Diabetes</option>
              <option value="4">Injury</option>
              <option value="5">Musculoskeletal</option>
                <option value="5">Genitourinary</option>
                <option value="5">Neoplasms</option>
                <option value="5">NAN</option>
                <option value="5">Other</option>
            </select>
            <br>
        </div>
                  <div class="form-group">
            <label for="number_outpatient">number of outpatient visits</label>
    <input class="form-control" type="number" id="number_outpatient" name="number_outpatient">
    <br>
        </div>
            </div>
             <div class="col-sm-2 offset-1" >
        <div class="form-group">
             <label for="num_procedures">Number of procedures</label>
            <input class="form-control" type="number" id="num_procedures" name="num_procedures">
        </div>
            <br>
        <div class="form-group">
             <label for="A1Cresult">A1c test result</label>
    <select  class="form-control"  id="A1Cresult" name="A1Cresult">
      <option value="0">Low/Normal</option>
      <option value="1">High</option>
        <option value="-99">No result</option>
    </select>
            <br>
        </div>
        <div class="form-group">
             <label for="max_glu_serum">Glucose serum test result</label>
    <select  class="form-control" id="max_glu_serum" name="max_glu_serum">
      <option value="0">Low/Normal</option>
      <option value="1">High</option>
        <option value="-99">No result</option>
    </select>
            <br>
        </div>
        <div class="form-group">
      <label for="change_0">Is there any change of medications</label>
    <select class="form-control" id="change_0" name="change_0">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>
            <br>
        </div>
        <div class="form-group">
            <label for="admission_source_id_Other"> is the patient admitted from other source </label>
    <select  class="form-control"  id="admission_source_id_Other" name="admission_source_id_Other">
         <option value="0">No</option>
         <option value="1">Yes</option>
    </select>
            <br>
        </div>
         <div class="form-group">
            <label for="admission_source_id_Emergency Room"> is the patient admitted from the emergency room </label>
    <select class="form-control" id="admission_source_id_Emergency Room" name="admission_source_id_Emergency Room">
         <option value="0">No</option>
         <option value="1">Yes</option>
    </select>
             <br>
        </div>
             </div>
               <div class="row">
                   <div class="col-sm-8 offset-4">
            <input type="submit" value="Predict"  class="btn btn-primary btn-large">
                   </div>
               </div>
    </form>
        </div>
    </div>
</div>
</body>
</html>
